In [1]:
import pandas as pd
import numpy as np
import os
import json
import requests
from pprint import pprint

In [2]:
confirmed_df = pd.read_csv('confirmed.csv')
confirmed_df.head()

  Province/State Country/Region      Lat     Long  4/2/20
0            NaN    Afghanistan  33.0000  65.0000     273
1            NaN        Albania  41.1533  20.1683     277
2            NaN        Algeria  28.0339   1.6596     986
3            NaN        Andorra  42.5063   1.5218     428
4            NaN         Angola -11.2027  17.8739       8

In [4]:
confirmed_us_df = pd.read_csv('confirmed-us.csv')
confirmed_us_df.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,4/6/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,"American Samoa, US",0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,"Guam, US",113
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,"Northern Mariana Islands, US",6
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,"Puerto Rico, US",513
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,"Virgin Islands, US",43